*{
	margin: 0px;
	padding: 0px;
}

#Navbar{
    width:1358px;
    height: 55px;
	padding-top: 15px;
	padding-left: 80px;
	padding-right: 150px;
	position: fixed;
	background-color: #DB0A5B;
}

p, em{
	font-family: Adobe Caslon Pro Bold;
	font-size: 30px;
	text-align: center;
	font-style: bold;
	padding-top: 5px;
	display: inline-block;
	padding-left: 255px;
	padding-right: 200px;
}
	
p a:link, p a:visited, p a:active{
	text-decoration: none; 
	color: white; 
}

p a:hover{
	text-decoration: none; 
	color: white; 
	font-size: 40px;
}

#profile {
	background-color: #95A5A6;
	width: 950px;
	height: 650px;
	margin-left: 200px;
	margin-top: -55px;
	position: static;
}

#profile img {
	margin-left: 30px;
	margin-top: 100px;
	position: static;
}

#border1 {
    padding-left: 50px;
    border: 5px;
	width: 600px;
	height: 330px; 
	border-radius: 25px;
	background-color: #DB0A5B;
	display: block;
	margin-top: -150px;
	margin-left: 250px;
	list-style: none;
}

h1.basic-info {
	padding-top: 20px;
	font-family: Cooper Std Black;
	font-size: 40px;
	text-align: center;
	color: #ECECEC;
	padding-top: 50px;
	padding-right: 20px;
}

div.b-info {
	font-size: 20px;
	font-family: Berlin Sans FB;
	color: #ECECEC;
	list-style: none;
	padding-top: 30px;
	padding-left: 30px;
}