*{
	margin: 0px;
	padding: 0px;
}

#Navbar{
    width:1358px;
    height: 55px;
	padding-top: 15px;
	padding-left: 80px;
	padding-right: 150px;
	position: fixed;
	background-color: #DB0A5B;
}

p, em{
	font-family: Adobe Caslon Pro Bold;
	font-size: 30px;
	text-align: center;
	font-style: bold;
	padding-top: 5px;
	display: inline-block;
	padding-left: 255px;
	padding-right: 200px;
}
	
p a:link, p a:visited, p a:active{
	text-decoration: none; 
	color: white; 
}

p a:hover{
	text-decoration: none; 
	color: white; 
	font-size: 40px;
}

#profile {
	background-color: #95A5A6;
	width: 950px;
	height: 650px;
	margin-left: 200px;
	margin-top: -55px;
	position: static;
}

#profile img {
	margin-left: 30px;
	margin-top: 100px;
	position: static;
}

#border1 {
    padding-left: 50px;
    border: 5px;
	width: 600px;
	height: 330px; 
	border-radius: 25px;
	background-color: #DB0A5B;
	display: block;
	margin-top: -150px;
	margin-left: 250px;
	list-style: none;
}

h1.basic-info {
	padding-top: 20px;
	font-family: Cooper Std Black;
	font-size: 40px;
	text-align: center;
	color: #ECECEC;
	padding-top: 50px;
	padding-right: 20px;
}

div.b-info {
	font-size: 20px;
	font-family: Berlin Sans FB;
	color: #ECECEC;
	list-style: none;
	padding-top: 30px;
	padding-left: 30px;
}

.button {
	display: inline-block;
	border-radius: 20px;
	font-family: Times New Roman;
	background-color: #373737;
	font-style: bold;
	font-size: 20px;
	width: 150px;
	height: 35px;
	transition: all 0.3s;
	cursor: pointer;
	margin-left: 700px;
	margin-top: -15px;
	position: static;
}

.button a{
	color: white;
}

.button span {
	cursor: pointer;
	display: inline-block;
	position: static;
	transition: 0.3s;
}

.button span:after {
	content: '\00bb';
	position: static;
	opacity: 0.1;
	top: 0;
	right: -15px;
	transition: 0.3s;
}

.button:hover span {
	padding-right: 15px;
}

.button:hover span:after {
	opacity: 1;
	top: 0;
}

.button:hover{
	background-color: #373737;
}

.button:active{
	background-color: #373737;
}

#otherInfo {
	background-color: #95A5A6;
	width: 1348px;
	height: 650px;
	margin-top: 60px;
	padding-top: 205px;
	margin-left: -200px;
}

#education {
	float: left;
	width: 350px;
	height: 400px;
	list-style: none;
	padding-top: 85px;
	padding-left: 50px;
	padding-bottom: 20px;
	border-right: 10px solid;
	margin-top: -78px;
	border-radius: 90px;
}

h1.otherinfo1 {
	margin-top: -90px;
	font-family: Cooper Std Black;
	font-size: 30px;
	text-align: center;
	color: #ECECEC;
	padding-top: 30px;
	padding-right: 20px;
}

#thrfo1 li{
	font-size: 18px;
	font-family: Berlin Sans FB;
	list-style: none;
	padding-top: 30px;
	padding-left: 30px;
	color: white;
	text-align: left;
}

#thrfo1 p{
	font-size: 13px;
	font-family: Berlin Sans FB;
	list-style: none;
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 0px;
	color: white;
	text-align: center;
}

#resfil {
	position: static;
	width: 350px;
	height: 400px;
	list-style: none;
	padding-top: 85px;
	padding-left: 70px;
	padding-bottom: 20px;
	border-right: 10px solid;
	margin-top: -78px;
	border-radius: 90px;
}

h1.otherinfo2 {
	margin-top: -90px;
	font-family: Cooper Std Black;
	font-size: 30px;
	text-align: center;
	margin-left: -120px;
	color: #ECECEC;
	padding-top: 30px;
	padding-right: 20px;
	
}

#thrfo2 li{
	font-size: 20px;
	font-family: Berlin Sans FB;
	list-style: none;
	padding-top: 30px;
	padding-left: 30px;
	color: white;
	text-align: left;
}

#thrfo2 p{
	font-size: 15px;
	font-family: Berlin Sans FB;
	list-style: none;
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 0px;
	color: white;
	text-align: center;
}

#semtrain {
	position: static;
	width: 350px;
	height: 430px;
	list-style: none;
	padding-top: 60px;
	padding-left: 350px;
	padding-bottom: 20px;
	border-right: 10px solid;
	margin-top: -298px;
	border-radius: 100px;
	margin-right: -500px;
}

h1.otherinfo3 {
	margin-top: -50px;
	font-family: Cooper Std Black;
	font-size: 30px;
	color: #ECECEC;
	text-align: right;
	padding-left: -10px;
	padding-right: 50px;
	padding-top: 20px;
	position: static;
}

#thrfo3 li{
	font-size: 18px;
	font-family: Berlin Sans FB;
	list-style: none;
	padding-top: 30px;
	padding-left: 30px;
	color: white;
	text-align: center;
}

#works {
	background-color: #34495E;
	width: 1100px;
	height: 580px;
	margin-top: 730px;
	padding-top: 100px;
	margin-left: 20px;
	border-radius: 50px;
	padding-left: 200px;
}

#works-images{
	border: 3px solid #FF4081;
	border-radius: 50px;
	width: 900px;
	height: 400px;
	position: static;
	margin-top: 50px;
	margin-left: -80px;
	text-align: center;
	padding-left: 180px;
	padding-right: -90px;
	background-color: #880E4F;
	margin-right: 30px;
}

#myworks {
	font-family: Cooper Std Black;
	font-size: 50px;
	color: #ECECEC;
	text-align: center;
	text-shadow: 2px 2px #F64747;
	padding-top: 20px;
}

#works-images img{
	position: static;
	margin: 5px;
	margin-top: 20px;
	border: 2px solid;
	border-style: groove;
}

#destoon{
	position: static;
	width: 150px;
	height: 350px;
	margin-top: -385px;
	margin-left: -150px;
	z-index: 0;
}

#contact{
	background-color: #212121;
	height: 150px;
	width: 1348px;
	margin-top: 0px auto;
}
h1.socialmedia{
	padding-top: 20px;
	font-family: Cooper Std Black;
	font-size: 35px;
	text-align: center;
	color: #ECECEC;
}

#socialmeds img{
	padding: 5px;
	width: 50px;
}

#socialmeds a{
	width: 200px;
}

#Footer {
	width: 1348px;
	height: 30px;
	background-color: #212121;
	margin-top: 0px auto;
}

#Footer p{
	margin-left: 280px;
	color: black;
	font-style: bold;
	font-family: Times New Roman;
	text-align: center;	
	font-size: 15px;
	margin-top: 5px;
}